.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-1000 text-white;

    &:hover {
        @apply bg-blue-700;
    }
}

.btn-primary {
    @apply bg-primary text-white;

    &:hover {
        @apply bg-primary;
    }
}

button,
.vjs-button {
    &:focus {
        outline: 0;
    }
}

.site__topbar {
    @apply bg-dark-300 text-gray-1000;
}

.site__topbar a:hover {
    @apply text-white;
}

.site__topbar {
    font-size: 13px;
}

.site__header {
    @apply bg-dark-200 text-white;
}

.site__footer {
    @apply bg-dark-200 text-white;
}

.footer__copyright {
    font-size: 14px;
}

.site__logo {
    img,
    svg {
        width: 90px;
        height: auto;
    }
}

// Menu
.site__navigation__primary {
    ul.nav__wrapper {
        .nav__item {
            .nav__link {
                font-size: 0.925rem;
                display: flex;
                align-items: center;
                padding-top: .5rem;
                padding-bottom: .5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border-width: 0;
                border-color: transparent;
            }

            ul {
                &.nav__sub {
                    background-color: rgba(40,40,40,0.8);
                }
            }

            &.has--sub {
                position: relative;

                .nav__sub {
                    opacity: 0;
                    visibility: hidden;
                    transition: all 600ms;
                    position: absolute;
                    top: calc(100% + 40px);
                    min-width: 250px;
                    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
                    padding: 10px;
                    z-index: 20;

                    li {
                        a {
                            border-radius: 3px;
                            &:hover {
                                background-color: #f14833;
                                color: #fff;
                            }
                        }
                    }
                }

                &:hover {
                    .nav__sub {
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                        transition: height 600ms;
                    }
                }
            }
        }

        > .nav__item {
            > .nav__link {
                padding-top: 2.6rem;
                padding-bottom: 2.6rem;
                text-transform: capitalize;

                &:hover,
                &.is--active {
                    color: #f14833;
                }
            }
        }
    }
}

.site__navigation__mobile {
    .nav__wrapper {
        height: 100vh;

        > .nav__item {
            > .nav__link {
                text-transform: capitalize;

                &:hover,
                &.is--active {
                    color: #f14833;
                }
            }
        }
    }

    .nav__item {
        > a {
            width: 100%;
            padding: 8px;
        }

        &.has--sub {
            > a {
                .nav__text {
                    width: 100%;
                }
            }

            .nav__sub {
                padding-left: 20px;
            }
        }
    }
}

// Header sticky
.sticky__wrapper {
    left: 0;
    right: 0;
}

.sticking {
    .sticky__wrapper {
        top: 0;
        position: fixed;
        -webkit-transform: translate3d(0,0,0);
        z-index: 111;
        -webkit-animation-name: fade-in-down;
        animation-name: fade-in-down;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        background-color: rgba(39, 39, 39, 0.75);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .site__logo {
        img,
        svg {
            width: 60px;
        }
    }

    .site__navigation__primary {
        ul.nav__wrapper {
            > .nav__item {
                > .nav__link {
                    padding-top: 1.6rem;
                    padding-bottom: 1.6rem;
                }
            }
        }
    }
}

// Scroll top
a {
    &#scroll-top {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        right: -40px;
        bottom: 1px;
        height: 36px;
        width: 40px;
        line-height: 36px;
        color: #fff;
        text-align: center;
        border-radius: 0;
        background: #303030;
        z-index: 9;
        -webkit-transition: all .7s cubic-bezier(0.405,0.020,0.325,0.950) .2s;
        -moz-transition: all .7s cubic-bezier(0.405,0.020,0.325,0.950) .2s;
        -o-transition: all .7s cubic-bezier(0.405,0.020,0.325,0.950) .2s;
        transition: all .7s cubic-bezier(0.405,0.020,0.325,0.950) .2s;

        &.open {
            right: 10px;
            opacity: 0.8;
            -moz-opacity: 0.8;
            -webkit-opacity: 0.8;
            filter: alpha(opacity=80);
            visibility: visible;
        }

        &:hover {
            opacity: 1;
            -moz-opacity: 1;
            -webkit-opacity: 1;
            filter: alpha(opacity=100);
        }
    }
}

// Before After Container
.ba__container {
    position: relative;
    overflow: hidden;
    text-align: center;

    img {
        width: 100%;
        display: block;
        max-width: none;
    }

    .resize {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        overflow: hidden;
        background-size: initial;
        background-position: initial;
    }

    .handle {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 4px;
        margin-left: -2px;
        background: #fff;
        cursor: ew-resize;

        .handle__wrapper {
            position: absolute;
            top: 50%;
            color: rgba(0, 0, 0, 0.65);
            font-weight: 700;
            font-size: 30px;
            text-align: center;
            line-height: 30px;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            border-radius: 50%;
            box-shadow: 0 2px 6px rgba(255, 255, 255, 0.3);
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.3s ease;
            box-sizing: content-box;

            i {
                line-height: 50px;
            }
        }
    }

    .button {
        display: inline-block;
        position: absolute;
        bottom: 15px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2.8px;
        font-weight: 600;
        color: #111;
        background-color: #fff;
        padding: 5px 15px;
        min-width: 115px;
        text-align: center;
        text-transform: uppercase;

        &.prev {
            left: auto;
            right: 15px;
        }

        &.next {
            left: 15px;
            right: auto;
        }

        &.reset {
            left: auto;
            right: auto;
            margin-left: -58px;
        }
    }
}

// Home: Slider

.swiper-button-next,
.swiper-button-prev {
    @apply text-white;
}

.swiper-button-next,
.swiper-button-prev {
    &:before,
    &:after {
        display: none;
    }
}

.swiper-container {
    max-height: 700px;
}

.swiper-wrapper {
    .slide__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: linear-gradient(135deg, rgb(48 48 48 / 0.7) 0%, rgb(255 255 255 / 0.7) 100%);
        mix-blend-mode: multiply;
    }

    .slide__info {
        position: absolute;
        top: 30px;
        left: 100px;
        color: #fff;
    }
}

.swiper-container {
    position: relative;
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;

    .swiper-slide-active {
        .img-wrapper {
            position: relative;
        }
    }

    .slides {
        position: relative;
        > li {
            position: relative;

            > a,
            .slide-item {
                color: #272a35;

                .slide-item-text {
                    &.shadow-lg {
                        color: #fff;
                    }
                }
            }
        }
    }

    .slide-item-text {
        color: #fff;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -40px;
        z-index: 99;
        opacity: 0;
        transition: all 3s;

        .slide-item-text__inner {
            max-width: 500px;
        }

        h1,
        h2 {
            font-size: 60px;
            line-height: 1.2;
            letter-spacing: 20px;
            text-transform: uppercase;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin: 0;
        }

        h1 {
            font-weight: 700;
        }

        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
        }

        &.shadow-lg {
            color: #fff;

            a,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #fff;
            }
        }
    }

    .swiper-slide-active {
        .slide-item-text {
            opacity: 1;
        }

        .animate_left_to_right {
            -webkit-animation: animate_left_to_right;
            animation: animate_left_to_right;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .animate_right_to_left {
            -webkit-animation: animate_right_to_left;
            animation: animate_right_to_left;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
}

.swiper-container {
    &.gallery-top,
    &.gallery-thumbs {
        .swiper-slide {
            background-size: cover;
            background-position: center;
        }
    }

    &.gallery-top {
        width: 100%;
        max-height: initial;
        margin-left: auto;
        margin-right: auto;
    }

    &.gallery-thumbs {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        padding: 10px 0;

        .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;

            &.swiper-slide-thumb-active {
                opacity: 1;
            }
        }

    }
}

.heading__slides {
    .swiper-container {
        max-height: 400px;
    }
}

.heading__slides {
    height: 300px;
    color: #ffffff;
    background-image: url("/images/bg_heading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;

    .heading__container {
        height: 300px;
        background-color: rgba(48, 48, 48, 0.7);
    }
}

.section__brands {
    background-image: url("/images/svg/background-white-85.svg");
    background-repeat: repeat;
    background-size: inherit;
    background-attachment: inherit;
}

.swiper__nav__style,
.swiper__brands {
    .swiper-button-next,
    .swiper-button-prev {
        cursor: pointer;
        color: #fff;
        border: none;
        outline: 0;
        background: rgba(0,0,0,.25);
        z-index: 2;
        opacity: 0;
        -webkit-transition: all .3s ease-in-out .1s;
        -moz-transition: all .3s ease-in-out .1s;
        -o-transition: all .3s ease-in-out .1s;
        transition: all .3s ease-in-out .1s;
    }

    .swiper-button-next {
        left: auto;
        right: -20px;
    }

    .swiper-button-prev {
        left: -20px;
        right: auto;
    }


    &:hover {
        .swiper-button-next,
        .swiper-button-prev {
            opacity: .8;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
        }
    }
}

.slick-arrow {
    background: #fff;
    border: 0;
    position: absolute;
    z-index: 10;
    left: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -19px;
    right: auto;
    top: 50%;
    font-size: 12px;
    padding: 5px 15px;
    line-height: 18px;

    &:hover {
        opacity: 0.7;
    }

    &.slick-prev {
        left: auto;
        right: 0;
    }
}

.gallery-thumbs {
    .slick-list {
        margin-left: -0.3125rem;
        margin-right: -0.3125rem;
    }

    .gallery-slide {
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
    }

    .gallery-slide-wrapper {
        position: relative;

        &:before {
            content: ' ';
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
            transition: all 0.4s ease 0s;
        }

        &:hover {
            &:before {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .slick-slide {
        &.slick-current {
            .gallery-slide-wrapper {
                &:before {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
}

.gallery-top {
    .slick-arrow {
        background: #fff;
        border: 0;
        position: absolute;
        z-index: 10;
        left: 50%;
        margin: 0 5px;
        right: auto;
        top: auto;
        bottom: 20px;
        font-size: 12px;
        padding: 5px 15px;
        line-height: 18px;

        &:hover {
            opacity: 0.7;
        }

        &.slick-prev {
            left: auto;
            right: 50%;
        }
    }
}

// Teams
.block__team {
    .team__item {
        width: 150px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

// Gallery
.services__gallery {
    /* fluid 5 columns */
    .grid__sizer,
    .grid__item {
        width: 25%;
    }

    /* 2 columns */
    .grid__item--width2 {
        width: 50%;
    }
}

.section__request {
    color: #ffffff;
    background-image: url("/images/bg_request.jpg");
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .request__form {
        background-color: rgba(48, 48, 48, 0.7)
    }
}

.section__cta2 {
    color: #ffffff;
    background-image: url("/images/bg_cta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;

    .cta__container {
        background-color: rgba(48, 48, 48, 0.7);
    }
}

// Gallery
#showcase__gallery {
    &.nanogallery_gallerytheme_dark_showcase__gallery {
        .nGY2GThumbnail {
            border-color: #fff;
            background: #fff;
        }
    }
}

.nGY2 {
    .nGY2ViewerMedia,
    .nGY2ViewerMediaLoaderHidden {
        -ms-touch-action: none;
        touch-action: none;
    }
}

// Google map
#google__map {
    iframe {
        width: 100% !important;
    }
}

@media (max-width: 1280px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
