/node_modules
/public/hot
/public/storage
/public/statics
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.docker
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/assets/bower
