@-webkit-keyframes simpleFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes simple-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.simple-fade {
    -webkit-animation-name: simple-fade;
    animation-name: simple-fade;
    -webkit-backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,50px,0);
        transform: translate3d(0,50px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,50px,0);
        transform: translate3d(0,50px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-up {
    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-50px,0);
        transform: translate3d(0,-50px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-50px,0);
        transform: translate3d(0,-50px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-down {
    -webkit-animation-name: fade-in-down;
    animation-name: fade-in-down;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes appear-in {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-10px,0) scale(0.7) perspective(1200px) rotateX(-60deg);
        transform: translate3d(0,-10px,0) scale(0.7) perspective(1200px) rotateX(-60deg);
    }
    45% {
        opacity: 0.4;
        -webkit-transform: translate3d(0,20%,0) scale(1.05) perspective(600px) rotateX(-15deg);
        transform: translate3d(0,20%x,0) scale(1.05) perspective(600px) rotateX(-15deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
    }
}

@keyframes appear-in {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-10px,0) scale(0.7) perspective(1200px) rotateX(-60deg);
        transform: translate3d(0,-10px,0) scale(0.5) perspective(1200px) rotateX(-60deg);
    }
    45% {
        opacity: 0.4;
        -webkit-transform: translate3d(0,20%,0) scale(1.05) perspective(600px) rotateX(-15deg);
        transform: translate3d(0,20%,0) scale(1.05) perspective(600px) rotateX(-15deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
    }
}

.appear-in {
    -webkit-animation-name: appear-in;
    animation-name: appear-in;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.flippin-effect {
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: flippin .85s cubic-bezier(0.400,0,0.350,1.100) forwards;
    -moz-animation: flippin .85s cubic-bezier(0.400,0,0.350,1.100) forwards;
    -ms-animation: flippin .85s cubic-bezier(0.400,0,0.350,1.100) forwards;
    -o-animation: flippin .85s cubic-bezier(0.400,0,0.350,1.100) forwards;
    animation: flippin .85s cubic-bezier(0.400,0,0.350,1.100) forwards;
}

@-webkit-keyframes flippin {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
        -moz-transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
        -ms-transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
        -o-transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
        transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        -moz-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        -ms-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        -o-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
    }
}

@keyframes flippin {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
        -moz-transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
        -ms-transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
        -o-transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
        transform: translate3d(0,20%,0) scale(0.9) perspective(1300px) rotateX(-70deg);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        -moz-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        -ms-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        -o-transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
        transform: translate3d(0,0,0) scale(1) perspective(1000px) rotateX(0deg);
    }
}

@-webkit-keyframes intro-zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(0) scale(0.5);
        transform: translateZ(0) scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(120px) scale(1);
        transform: translateZ(120px) scale(1);
    }
}

@keyframes intro-zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(0) scale(0.5);
        transform: translateZ(0) scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(120px) scale(1);
        transform: translateZ(120px) scale(1);
    }
}

.intro-zoom-in {
    -webkit-animation-name: intro-zoom-in;
    animation-name: intro-zoom-in;
    -webkit-backface-visibility: hidden;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
